// Colors
$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 7%, 50%);
$mediumGrey: hsl(216, 17%, 20%);
$darkBlue: hsl(215, 25%, 15%);
$veryDarkBlue: hsl(216, 12%, 8%);

// Font
$overpass: 'Overpass', sans-serif;

// Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;